<% provide(:title, "Log in") %>
<div class="login-container">
  <h1 class="tittle-text">Create User</h1><div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user,url: signup_path) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
        <%= f.submit "Create User", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>
