<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <div><%= link_to "AGENDATOR", root_path, id: "logo" %>
        <p id="logo-name"><%= "Welcome: #{user_available}" if !user_available.nil? %></p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li> <%= users_view %></li>
        <li> <%= logged_view %></li>
        <li><%= logged_post %></li>
        <li><%= logged_profile %></li>
      </ul>
    </nav>
  </div>
</header>