<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <%= user_available %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li> <%= logged_view %></li>
        <li><%= logged_post %></li>
        <li><%= logged_profile %></li>
      </ul>
    </nav>
  </div>
</header>