<% provide(:title, "New Event") %>
<div class="login-container">
  <h1>Create Event</h1><div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@event,url: new_event_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :content %>
      <%= f.text_field :content, class: 'form-control' %>

      <%= f.label :start %>
      <%= f.datetime_field :start, class: 'form-control' %>

      <%= f.label :end %>
      <%= f.datetime_field :end, class: 'form-control' %>

      <%= f.label :location %>
      <%= f.text_field :location, class: 'form-control' %>

      <%= f.submit "Create Event", class: "btn btn-primary" %>
    <% end %>
    <select name="cmbx-users" id="cmbx-users">

      <%= get_users.each do |item| %>
          <option value="<%= item %>"> <%= item %> </option>
      <% end %>
    </select>
    <input type="button" value="Invite user" onclick="<%= add_user_to_event %>">
    <%= render 'shared/attendances_create' %>
  </div>
</div>
</div>